# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Custom ignores
*.log
*_log*.txt
error_log*.txt
temp_*
embeddium-*.jar
.factorypath
*.javaa
nul
